$sol: rgb(248, 214, 20) ;
$eolico: rgb(57, 231, 124);
$agua: rgb(52, 228, 241);
$geo: rgb(201, 112, 10);
$card-color: purple;
ul {
    list-style-type: none;
}
li{
    list-style-type: none;
}
body {
    background-color: wheat;
    h1{
        height: auto;
        background-color: $sol;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$sol;
    }
    div.card{
        background-color:$eolico;
    }
}

