$sol: rgb(248, 214, 20) ;
$eolico: rgb(57, 231, 124);
$agua: rgb(52, 228, 241);
$geo: rgb(201, 112, 10);
$card-color: purple;
ul {
    list-style-type: none;
}
li{
    list-style-type: none;
}
#solar {
    background-color: wheat;
    h1{
        background-color: $sol;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$sol;
    }
    div.card{
        background-color:$eolico;
    }
}

#eolico {
    background-color: wheat;
    h1{
        background-color: $eolico;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$eolico;
    }
    div.card{
        background-color:$agua;
    }
}

#agua {
    background-color: wheat;
    h1{
        background-color: $agua;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$agua;
    }
    div.card{
        background-color:$geo;
    }
}

#geo {
    background-color: wheat;
    h1{
        background-color: $geo;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$geo;
    }
    div.card{
        background-color:$sol;
    }
}

.header {
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #000000;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #000000;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: none;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }